*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 64px;
    background: linear-gradient(#ffffff, #e2aacd);
    font-family: "Steph", sans-serif;
}

@font-face {
    font-family: "Steph";
    src: url("assets/fonts/steph-font.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Steph";
    src: url("assets/fonts/steph-font-bold.ttf");
    font-weight: bold;
}

#togepi-gif {
    width: 500px;
    max-width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 32px -16px black;
    outline: 8px solid #c4558580;
    outline-offset: -8px;
}

h1 {
    font-size: 3rem;
    margin: 50px auto;
}

.btn-container {
    display: flex;
    gap: 32px;
}

button {
    border-radius: 8px;
    font-family: Steph, sans-serif;
    min-width: 100px;
    max-width: 550px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.1s ease;
}

button:hover {
    scale: 1.05;
}

#yes-btn {
    transform-origin: center top;
    color: white;
    background-color: #57915e;
}

#no-btn {
    color: white;
    background-color: #db4e4e;
}